name: Deploy to Azure

on:
  workflow_run:
    workflows: ["SonarCloud"]
    types:
      - completed
    branches:
      - main

env:
  AZURE_WEBAPP_NAME: 'rehema-adpro'
  JAVA_VERSION: '21'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout GitHub Action
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
          cache: 'gradle'

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@657f0700ea5214d56a0400d8ac5e8023c963d25d # v3.0.6
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: build/libs/*.jar